<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @facebook.email %>
</p>

<p>
  <strong>Password:</strong>
  <%= @facebook.password %>
</p>

<%= link_to 'Edit', edit_facebook_path(@facebook) %> |
<%= link_to 'Back', facebooks_path %>
